<!-- Added a simple Form submission to be used for email signup -->
<!-- <form action = '/signup' method='POST'>
	<input type = 'email' name = 'email'>
	<input type = 'password' name = 'password'>
	<input type = 'submit'>
</form> -->