/*Styling file, check for proper connection*/

#signup {
	height: 100vh;
	width: 100vw;
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
}

#login {
	height: 100vh;
	width: 100vw;
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
}


/**/